body, html {
	font-family: Arial;
	font-size: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.page {
	min-height: 100%;
	position: relative;
}

header {
	padding: 10px;
}
/* Navigation Area */

nav li {

	display:inline-block;
	margin-left: auto;
	margin-right: 0;
	padding: 5px;
}

nav {
	padding-right: 15px;
	text-align: right;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-bottom: 70px;
	margin-right:7px;
}

nav a:link{
	text-decoration: none;
	color: #404040;
	margin: 10px 0px 10px 2px;
}

#signin {
	background-color: #4d90fe;
	color: white;
	padding: 7px 10px 7px 10px;
	border-radius: 2px;
	font-weight: bold;
	margin-right: 15px;
}

#apps {

	background: url(../images/apps.png);
	background-position: -222px 0;
	background-size: 908px 52px;
	height: 30px;
	width: 30px;
	opacity: .6;
	display: inline-block;
	vertical-align: middle;

}

/* End - Navigation Area */


/* Main content area - logo and search area */
#content {
	padding-bottom: 3.5em;
}
.content {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	height: 95px;
	width: 269px;
	margin-bottom: 20px;
}

.search{
	width: 575px;
	height: 30px;
	background: url(../images/vSearch.gif) 98% center no-repeat;
	background-size: 14px 19px;
	border: 1px solid #dcdcdc;
	opacity: .6;

}

.search:hover {
	border-color: #666;
}

.search:focus {

	border-color: #4d90fe;
}

 .buttons {
 	text-align: center;
 	padding-top: 15px;
 	opacity: .8;
 	font-weight: bold;
 }

.btn {
 	display: inline;
 	margin-left: 5px;
 	margin-right: 5px;
 	padding: 5px;
 	border-radius: 1px;
 	border: 1px solid #dcdcdc;
 	background: #f6f6f6;
 }


/* End - Main content area - logo and search area */


/* Footer */

footer {
	position:absolute;
	width: 100%;
	height: 3.5em;
	bottom: 0;
	left: 0;
	background: #f6f6f6;

}

footer li{
	display: inline;
	opacity: .6;
	padding-right: 20px;
	padding-top: 5px;
}

.left-footer {
	float: left;
	margin-left: -10px;

}

.right-footer {
	float: right;
	margin-right: 5px;
}

/* End - Footer */

